<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
	<!--Fit page width to mobile devices-->
	<!--<meta name="viewport" content="initial-scale=1, maximum-scale=1">-->
	<meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.7, maximum-scale=0.7">
	
	<title>Home WSN</title>
	
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<link rel="stylesheet" href="styleWSN.css" type="text/css" />
</head> 
 
<body>
    <!-- ******************* Page 1 ***************** -->
    <div data-role="page" id="page1">
	    <div data-role="header">
		    <div data-role="navbar">
                <ul>
                <li><a href="/" data-icon="home" class="ui-btn-active ui-state-persist">Control Panel</a></li>
                <li><a href="/SensorData" data-icon="eye">Sensor Data</a></li>
                </ul>
            </div>
	    </div>

	    <div data-role="main" class="ui-content">
	        <div id="controlPanel">
            </div>
	    </div>
	    
	    <div data-role="footer" data-position="fixed">
		    <h1>Pipo WSN <span id="connectionStatus" style="position: absolute; right: 5%;"></span></h1>
	    </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
	<script src="clientWSN.js" type="text/javascript"></script>
</body>

</html>