@charset "UTF-8";
/* CSS Document */

.horizontal-checkbox {
    position: relative;
    float: left;
    margin-left: 4%;
    top: -8px;
}

.horizontal-time {
    position: relative;
    float: left;
    margin-left: 4%;
    top: -10px;
}

.inline {
    display: inline-block !important;
}
